.container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    border: solid 2px;
    background-color: aliceblue;
    border-radius: 2%;
  }