.form{
    display: flex;
    flex-wrap: wrap;
}

.form__amount {
    padding-bottom: 20px;
}
.form__amount__header {
    display: flex;
    justify-content: space-evenly;
}
.form__amount__input {
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}
.form__header {
    margin: 20px 0;
    font-weight: bold;
    font-size: larger;
}
.form__footer {
    box-sizing: border-box;
    font-size: small;
    text-align: center;
    margin: 20px 10px;
}
@media screen and (max-width: 300px) {
    .form__footer {
        margin: 5% 15%;
    }
}
.form__select__selectContainer {
    padding-bottom: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.form__select {
    margin: 10px 82px;
    padding: 5px;
}
.form__select__option {
    text-align: center;
}
